
// Variables
@import 'variables';


/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .button{
        @apply py-2 px-4 text-sm;
        background-color: #47cdff;
        color: white;
        border-radius: 8px;
        box-shadow: 0 2px 7px 0 #b0eaff;
    }
    .card {
        @apply bg-white p-5 rounded-lg shadow;
    }
}



